.feed {
  display: inline-block;
  box-sizing: border-box;
  width: 650px;
  font-family: Poppins;
}

.sorry {
  border-radius: 30px;
  width: fit-content;
  color: #4d16be;
  margin: 20px auto;
}
.render {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  backdrop-filter: blur(5px);
  margin-bottom: 10px;
  border-radius: 30px;
  justify-content: space-between;

}
.sorting-buttons {
  display: flex;
  align-items: center;
}

.sorting-buttons button {
  outline: none;
  border: none;
  cursor: pointer;
  border: solid lightgray 1px;
  font-family: Poppins;
  color: white;
  border-radius: 30px;
  background-color: transparent;
  padding: 5px 8px;
  font-size: 10px;
  margin: 0 2px;
}

.sorting-buttons p {
  font-size: 10px;
  color: white;
}
/* Add this to your CSS file */
.active {
  font-weight: bold;
  color: #4d16be; /* Change this to your desired active text color */
  background-color: #4d16be;
}

.yourposts {
  outline: none;
  cursor: pointer;
  font-family: Poppins;
  background-color: transparent;
color: white;
  border: none;
  border: solid lightgray 1px;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 10px;
  margin: 0 2px;
}

.render button:active {
  background-color: #4d16be;
  color: white;
}

@media screen and (max-width: 768px) {
  .render {
    margin: 0 8px;
    margin-top: 5px;
    margin-bottom: 8px;
  }
  .feed {
    width: 100%;
  }
}
