.feed{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    font-family: Poppins;
}

  .sorry{
    border-radius: 30px;
    width: fit-content;
    color: #4D16BE;
    margin: 20px auto;
  }
  .render{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border: solid lightgray 1px;
    margin-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: space-between;
  }
  .sorting-buttons{
    display: flex;
    align-items: center;
  }



  .sorting-buttons button{
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border: solid lightgray 1px;
    font-family: Poppins;
    border-radius: 30px;
    padding: 5px 8px;
    font-size: 10px;
    margin: 0 2px;
  }
  .render button:hover{
    background-color: rgb(242, 240, 240);
  }

  .sorting-buttons p{
    font-size: 10px;
  }
  /* Add this to your CSS file */
.active {
  background-color: #007bff; /* Change this to your desired active color */
  color: #4D16BE; /* Change this to your desired active text color */
}

.yourposts{
  background-color: white;
  outline: none;
  cursor: pointer;
  font-family: Poppins;
  border: none;
  border: solid lightgray 1px;
  border-radius: 30px;
  padding:5px 10px;
  font-size: 10px;
  margin: 0 2px;
}

.render button:active{
  background-color: #4D16BE;
  color: white;
}

@media screen and (max-width: 768px) {
  .render{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-color:transparent ;
    margin: 0 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
  }
}