.post {
  display: flex;
  flex-direction: column;
  border: solid lightgray 1px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.post_info {
  display: flex;
  padding: 10px;
  border-bottom: solid lightgray 1px;
  align-items: center;
}
.post_info span {
  margin: 0 10px;
  text-align: left;
  width: 65%;
}
.post_info h4 {
  font-size: 10px;
}
.post_info p {
  font-size: 10px;
  color: gray;
}
.post_info small {
  font-size: 10px;
  color: #4d16be;
}

.post_body {
  text-align: left;
  position: relative;
  height: fit-content;
}

.post_body p {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #282829;
}
.post_footer button {
  outline: none;
  border: none;
  border-radius: 30px;
  border: solid lightgray 1px;
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
}
.post_footer button:hover {
  border-color: #4d16be;
  color: #4d16be;
}

.post_footer button:active {
  background-color: #4d16be;
  color: white;
}

.post_body .post-imgbox {
  margin-top: 5px;
  overflow: hidden;
  height: fit-content;
  text-align: center;
  padding: 0 10px;
}
.post_body .post-imgbox img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  border-top: solid lightgrey 1px;
  padding: 8px 5px;
}

.actions {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
}
.actions a {
  border-radius: 30px;
  height: fit-content;
  padding: 0 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.like {
  width: fit-content;
}
.like small {
  font-size: 12px;
}

.show_answer small {
  font-size: 12px;
}



.actions svg {
  height: 25px;
  padding: 0;
  width: fit-content;
}
.actions svg:hover {
  fill: #4d16be;
}
.more {
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
}
.more a {
  margin-right: 3px 1px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  padding: 2px;
  cursor: pointer;
}

.more svg {
  height: 25px;
}
.share:hover {
  fill: black;
}
.share:hover {
  fill: #4d16be;
}


.del-for:hover {
  fill: red;
}
.answers {
  border-top: solid lightgray 1px;
  box-shadow: rgb(215, 215, 215) 0px 3px 6px 0px inset;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px ;
  overflow: hidden;
}
.answers .avatar {
  width: 20px;
  height: 20px;
}
.answer_info {
  display: flex;
  padding: 10px;
  align-items: center;
  position: relative;

}
.answer_info span {
  margin: 0 10px;
  text-align: left;
  width: 65%;
  font-size: 9px;
}

.answer_info span p {
  color: gray;
}
.answer_info small {
  font-size: 10px;
  color: #4d16be;
}

.answer_body {
  text-align: left;
  position: relative;
  border-bottom: solid lightgray 1px;
  border-radius: 15px;
  padding-bottom: 10px;
}

.answer_body p {
  padding: 0 10px;
  font-size: 12px;
  color: #282829;
}
.modal_question h1 {
  font-size: 16px;
  font-weight: 0;
}

.modal_question p {
  font-size: 10px;
  color: gray;
}
.modal_answer textarea {
  border: none;
  outline: none;
  width: 100%;
  min-height: 200px;
}
.modal_question .post_info {
  padding: 10px 0;
}

.userModalContent{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.abouttxt{
  width: 100%;
  display: block;
  word-wrap: break-word; 
}

.userModalContent img{
  border-radius: 100%;
}
.userModalContent textarea{
  outline: none;
  border-radius: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;  
  width: 100%; /* Set the width to 100% */
  resize: none; 
  display: block;
  margin-top: 10px;
  word-wrap: break-word; 
  border: solid lightgray 1px;
  background-color: whitesmoke;
}
.addans{
  cursor: pointer;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
  background-color: #eae8e8;
  box-shadow: rgb(215, 215, 215) 0px 3px 3px 0px ;
}

.addans svg{
  width: 30px;

}
.userModalContent box{
  display: flex;
  margin-top: 10px;
  align-items: center;
}
box small{
  border: solid lightgray 1px;
  padding: 2px 5px;
  border-radius: 30px;
  font-size: 10px;
}
.userModalContent hr{
  border: none;
  border-top: solid lightgray 1px;
  width: 100%;
  margin: 10px auto;
}

.editbtn{
  margin-top: 10px;
}
.editbuttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.userModalContent button{
  border: none;
  outline: none;
  background-color: white;
  border: solid lightgray 1px;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 30px;
}

.userModalContent button:hover{
  background-color: rgb(246, 244, 244);
}
.userModalContent p{
  word-wrap: break-word; 
  font-family: 'Times New Roman', Times, serif;
}
.userModalContent .save{
color: blue;
}
.userModalContent .cancel{
  color: red;
  }
  .delconfirm{
    text-align: center;
    padding: 10px 10px 0 10px;
  }
  .delconfirm button{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin: 0 5px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    border: solid lightgray 1px;
    cursor: pointer;
  }
  .delconfirm button:hover{
    background-color: rgb(245, 245, 245);
  }
  .conbuttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  .ansdel{
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .ansdel svg{
    height: 20px;
    padding: 2px;
    width: 20px;
    fill: red;
  }
  @media screen and (max-width: 768px) {
    .post {
      margin: 0 10px;
      margin-bottom: 8px;
    }
    .post_body .post-imgbox img {
      border-radius: 0;
      border: none;
    }
    
.post_body .post-imgbox {
  padding: 0 0;
}
  }

  .show_answer svg:active {
background-color: rgb(240, 236, 236);
border-radius: 10px;
  }

 