
.quora-content {
  width: 40%;
  margin: 0 auto;
  margin-top: 48px;
  
}
@media screen and (max-width: 768px) {
  .quora-content {
    display: block;
    width: 100%;
    margin-top: 96px;
    margin-bottom: 20px;
  }
}

.react-responsive-modal-modal {
  border-radius: 15px;
  min-width: 40%;
  min-height: fit-content;
  position: absolute;
  max-height: 80vh;
  margin: 0 auto;
  max-width: 90%;
}
.react-responsive-modal-overlay {
  background: rgb(0 0 0 / 75%);
}


