
.quora-content {
  width: 50%;
  margin: 0 auto;
  margin-top: 48px;
  
}
@media screen and (max-width: 768px) {
  .quora-content {
    display: block;
    width: 100%;
    margin-top: 96px;
    margin-bottom: 20px;
  }
}

.react-responsive-modal-modal {
  border-radius: 5px;
  padding: 0;
  min-width: 40%;
  position: relative;
  min-height: 350px;
  max-height: 80vh;
}
.react-responsive-modal-overlay {
  background: rgb(0 0 0 / 75%);
}


@media screen and (max-width: 768px) {
  .react-responsive-modal-modal {
    min-width: 80%;
  }
}
