.sidebar {
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.spaces {
  display: inline;
}
.space {
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 4px;
}

.space a {
  text-decoration: none;
  font-size: 10px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.space:hover {
  background-color: #e4e6e6;
}

.spaces .space img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.sidebar .links {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid #dee0e1 1px;
}
.sidebar .links a {
  text-decoration: none;
  font-size: 10px;
  color: #939598;
  margin: 2px;
  display: inline-block;
}
.sidebar .links a:hover {
  text-decoration: underline;
}
.sidebar .links a::after {
  content: "\00B7";
  margin-left: 5px;
}
